$color: 217;

$text-dark: #9aa0a6;
$text-dark-hover: #9aa0a6;

$text-secondary: #5f6368;
$text-secondary-dark: #9aa0a6;


$black: rgb(32, 33, 36);
$white: #fff;
$light: #e8eaed;
$primary-dark: #8ab4f8;


$colors: (
    "background": (
        "default": $white,
        "dark": $black
    ),
    "reverse": (
        "dark": $white,
        "default": $black
    ),

    "secondary-button-hover-fill-color" : (
        "dark": $white,
        "default": $black
    ),
    "secondary-button-hover-border-color" : (
        "dark": $white,
        "default": $black
    ),
    "background-transparent": (
        "default": rgba(255, 255, 255, 0),
        "dark": rgba(32, 33, 36, 0)
    ),
    "surface": (
        "default": $white,
        "dark": #3c4043
    ),
    "text": (
        "default": #5f6368,
        "dark": #9aa0a6
    ),
    "text-hover": (
        "default": rgb(154, 160, 166),
        "dark": rgb(154, 160, 166)
    ),
    "text-invert": (
        "dark": #5f6368,
        "default": #9aa0a6
    ),
    "text-active": (
        "default": $black,
        "dark": $light
    ),
    "line-color": (
        "default": #dadce0,
        "dark": #5f6368
    ),
    "primary": ( 
        "default": hsl($color, 80%, 55%),
        "dark": hsl($color, 89%, 76%),
    ),
    "primary-hover": (
        "default": hsl($color, 80%, 55%),
        "dark": hsl($color, 89%, 76%)
    ),
    "primary-light-0": (
        "default": hsl($color, 80%, 98%),
        "dark": hsl($color, 9%, 21%),
    ),
    "primary-light-1": (
        "default": hsl($color, 80%, 93%),
        "dark": hsla($color, 89%, 76%, 0.12)
    )
);


:root, html[data-theme=light] {

    @each $name, $value in $colors {
        --#{$name}: #{map-get($value, "default")};
    }

    --danger: hsl(5, 81%, 56%);
    --blue-100: hsl(216, 88%, 91%);

    --blue-300: hsl(217, 89%, 76%);


    --blue-600: hsl(214, 82%, 51%);
    --blue-700: hsl(215, 79%, 46%);

    --gray-100: rgb(241, 243, 244);
    --gray-300: rgb(218, 220, 224);
    --gray-400: rgb(192, 193, 196);
    --gray-500: rgb(154, 160, 166);
    --gray-50: rgb(248, 249, 250);
    --gray-600: rgb(128, 134, 139);
    --gray-700: rgb(95, 99, 104);
    --gray-800: rgb(60, 64, 67);
    --gray-900: rgb(32, 33, 36);

    --google-blue-50: hsl(218, 92%, 95%);

    --google-blue-100: hsl(216, 88%, 91%);
    --google-blue-200: hsl(217, 88%, 83%);
    --google-blue-300: hsl(217, 89%, 76%);
    --google-blue-400: hsl(217, 89%, 68%);
    --google-blue-500: hsl(217, 89%, 61%);
    --google-blue-600: hsl(214, 82%, 51%);
    --google-blue-700: hsl(215, 79%, 46%);
    
    --google-green-50: hsl(137, 39%, 93%);


    --google-green-300: hsl(137, 40%, 65%);
    --google-green-400: hsl(136, 40%, 54%);
    --google-green-500: hsl(136, 53%, 43%);
    --google-green-600: hsl(137, 65%, 34%);
    --google-green-700: hsl(138, 68%, 30%);
    
    --google-grey-50: rgb(248, 249, 250);
    --google-grey-100: rgb(241, 243, 244);
    --google-grey-200-rgb: 232, 234, 237;
    --google-grey-200: rgb(var(--google-grey-200-rgb));
    --google-grey-300-rgb: 218, 220, 224;
    --google-grey-300: rgb(var(--google-grey-300-rgb));
    --google-grey-400-rgb: 189, 193, 198;
    --google-grey-400: rgb(var(--google-grey-400-rgb));
    --google-grey-500-rgb: 154, 160, 166;
    --google-grey-500: rgb(var(--google-grey-500-rgb));
    --google-grey-600-rgb: 128, 134, 139;
    --google-grey-600: rgb(var(--google-grey-600-rgb));
    --google-grey-700-rgb: 95, 99, 104;
    --google-grey-700: rgb(var(--google-grey-700-rgb));
    --google-grey-800-rgb: 60, 64, 67;
    --google-grey-800: rgb(var(--google-grey-800-rgb));
    --google-grey-900-rgb: 32, 33, 36;
    --google-grey-900: rgb(var(--google-grey-900-rgb));
    --google-grey-900-white-4-percent: #292a2d;
    --google-red-300-rgb: 242, 139, 130;
    --google-red-300: rgb(var(--google-red-300-rgb));
    --google-red-500-rgb: 234, 67, 53;
    --google-red-500: rgb(var(--google-red-500-rgb));
    --google-red-600-rgb: 217, 48, 37;
    --google-red-600: rgb(var(--google-red-600-rgb));
    --google-yellow-50-rgb: 254, 247, 224;
    --google-yellow-50: rgb(var(--google-yellow-50-rgb));
    --google-yellow-300-rgb: 253, 214, 51;
    --google-yellow-300: rgb(var(--google-yellow-300-rgb));
    --google-yellow-400-rgb: 252, 201, 52;
    --google-yellow-400: rgb(var(--google-yellow-400-rgb));
    --google-yellow-500-rgb: 251, 188, 4;
    --google-yellow-500: rgb(var(--google-yellow-500-rgb));
    --google-blue-refresh-100-rgb: var(--google-blue-100-rgb);
    --google-blue-refresh-100: var(--google-blue-100);
    --google-blue-refresh-300-rgb: var(--google-blue-300-rgb);
    --google-blue-refresh-300: var(--google-blue-300);
    --google-blue-refresh-400-rgb: var(--google-blue-400-rgb);
    --google-blue-refresh-400: var(--google-blue-400);
    --google-blue-refresh-500-rgb: var(--google-blue-500-rgb);
    --google-blue-refresh-500: var(--google-blue-500);
    --google-blue-refresh-700-rgb: var(--google-blue-700-rgb);
    --google-blue-refresh-700: var(--google-blue-700);
    --google-green-refresh-300-rgb: var(--google-green-300-rgb);
    --google-green-refresh-300: var(--google-green-300);
    --google-green-refresh-400-rgb: var(--google-green-400-rgb);
    --google-green-refresh-400: var(--google-green-400);
    --google-green-refresh-500-rgb: var(--google-green-500-rgb);
    --google-green-refresh-500: var(--google-green-500);
    --google-green-refresh-700-rgb: var(--google-green-700-rgb);
    --google-green-refresh-700: var(--google-green-700);
    --google-grey-refresh-100-rgb: var(--google-grey-100-rgb);
    --google-grey-refresh-100: var(--google-grey-100);
    --google-grey-refresh-300-rgb: var(--google-grey-300-rgb);
    --google-grey-refresh-300: var(--google-grey-300);
    --google-grey-refresh-500-rgb: var(--google-grey-500-rgb);
    --google-grey-refresh-500: var(--google-grey-500);
    --google-grey-refresh-700-rgb: var(--google-grey-700-rgb);
    --google-grey-refresh-700: var(--google-grey-700);
    --google-red-refresh-300-rgb: var(--google-red-300-rgb);
    --google-red-refresh-300: var(--google-red-300);
    --google-red-refresh-500-rgb: var(--google-red-500-rgb);
    --google-red-refresh-500: var(--google-red-500);
    --google-yellow-refresh-300-rgb: var(--google-yellow-300-rgb);
    --google-yellow-refresh-300: var(--google-yellow-300);
    --google-yellow-refresh-400-rgb: var(--google-yellow-400-rgb);
    --google-yellow-refresh-400: var(--google-yellow-400);
    --google-yellow-refresh-500-rgb: var(--google-yellow-500-rgb);
    --google-yellow-refresh-500: var(--google-yellow-500);

    --primary-button-fill-color-active: var(--blue-700);
    --primary-button-fill-color: var(--blue-600);
    --primary-button-text-color: #fff;

    --secondary-button-border-color: var(--gray-500);
    --secondary-button-fill-color: #fff;
    --secondary-button-hover-border-color: var(--gray-600);
    --secondary-button-hover-fill-color: var(--gray-400);
    --secondary-button-text-color: var(--gray-700);
   
}

html[data-theme=dark] {

    @media (prefers-color-scheme: dark) {
        @each $name, $value in $colors {
            --#{$name}: #{map-get($value, "dark")};
        }

        --background-color: var(--gray-900);
        --error-code-color: var(--gray-500);
        --heading-color: var(--gray-500);
        --link-color: var(--blue-300);
        --small-link-color: var(--blue-300);
        --text-color: var(--gray-500);
        
        --primary-button-fill-color-active: rgb(129, 162, 208);
        --primary-button-fill-color: var(--blue-300);
        --primary-button-text-color: var(--gray-900);

        --quiet-background-color: var(--background-color);

        --secondary-button-border-color: var(--gray-700);
        --secondary-button-fill-color: var(--gray-900);
        --secondary-button-hover-fill-color: rgb(48, 51, 57);
        --secondary-button-text-color: var(--blue-300);
    }
   
}

html {
    background-color: var(--background);
}
