$max-content-width: 970px;
$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$gap: 16px;

$appbar-height: 64px;
$padding-x-app-desktop: 60px;
$padding-x-app-mobile: 16px;

$size-display: 16px;
$size-text: 14px;
$size-mini: 12px;

