.svg {
    width: 75px;
    path {
        fill: var(--primary-button-fill-color)
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}